.send-message-form__container {
  width: 100%;
}

.send-message-form__container.loader .send-message__form {
  
}

.send-message__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.send-message__form input, 
.send-message__form textarea {
  width: 100%;
  background-color: var(--secondary-page-background);
  border: 1px solid gray;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text-color);
  font-size: .9rem;
  position: relative;
  z-index: 10;
}

.send-message__form textarea {
  resize: vertical;
  min-height: 50px;
}



.send-message__form button {
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  background-color: var(--dark-green);
  cursor: pointer;
}

.input__container {
  position: relative;
}
 
.error-box {
  border: 1px solid rgb(223, 35, 76) !important;
}

.error-box::placeholder {
  color: rgb(223, 35, 76);
}

.error__container {
  display: flex;
  align-items: flex-end;
  position:absolute;
  font-size: .8rem;
  font-style: italic;
  background-color: rgb(223, 35, 76);;
  color: white;
  width: 100%;
  height: 25px;
  padding-left: 13px;
  bottom: 0;
  border-radius: 5px;
  z-index: 9;
}

.input__container.text-area .error__container {
  bottom: 7px;
}

.error__container.active {
  /* opacity: 1; */
  pointer-events: auto;
  transform: translateY(18px);
}
.error__container.inactive {
  /* opacity: 1; */
  pointer-events: none;
  transform: translateY(0);
}

.error-icon__container {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.error-icon {
  width: 100%;
  height: 100%;
  transform: scale(.7);
}

.error-icon path {
  stroke: white;
}

.error__container span {
  color: white;
}

.response-message__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.check {
  display: inline-block;
  transform: rotate(45deg);
  height: 24px;
  width: 14px;
  border-bottom: 5px solid var(--primary-cyan);
  border-right: 5px solid var(--primary-cyan);
}

.response-message {
  margin-top: 5px;
  /* font-weight: 400; */
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: var(--primary-cyan) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/* .loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--primary-cyan);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
     */